* {
    box-sizing: border-box;
  }
  
  .main{
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 555px; 
      height: 812px; 
      top: 15px;
      left: 20px;
      gap: 20px; 
    border: 1px solid #000; /* Для наглядности */
  }
  
  .head {
    gap: 20px;
    display: flex;
  }
  
  .Avatar {
    width: 124px;
    height: 124px;
    border-radius: 12px;
  }
  
  .nameBox {
    background-color: rgb(215, 215, 215);
    width: 124px;
    height: 124px;
    padding: 12px;
    border-radius: 12px;
  }
  
  .greetingPhrase {
    width: 100px;
    height: 24px;
    font-family: Poppins;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
  }
  
  .name {
    width: 100px;
    height: 30px;
    font-family: Poppins;
    font-size: 13px;
    text-align: center;
  }
  
  .role {
    width: 100px;
    height: 24px;
    font-family: Poppins;
    font-size: 11px;
    text-align: center;
  }
  
  .languagesBox {
    background-color: rgb(215, 215, 215);
    width: 170px;
    height: 124px;
    padding: 12px;
    border-radius: 12px;
  }
  
  .title {
    height: 21px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .english {
    height: 20px;
    font-family: Poppins;
    font-size: 15px;
    display: flex;
  }
  
  .engflag {
    width: 24px;
    height: 14px;
    border-radius: 12px;
  }
  
  .russian {
    height: 20px;
    font-family: Poppins;
    font-size: 15px;
    display: flex;
  }
  
  .rusflag {
    width: 24px;
    height: 14px;
    border-radius: 12px;
  }
  
  .german {
    height: 20px;
    font-family: Poppins;
    font-size: 15px;
    display: flex;
  }
  
  .gerflag {
    width: 24px;
    height: 14px;
    border-radius: 12px;
  }
  
  .body {
    display: flex;
    gap: 16px;
  }
  .expBox {
    background-color: rgb(215, 215, 215);
    width: 300px;
    height: 300px;
    padding: 12px;
    border-radius: 12px;
  }
  
  .exp {
    height: 250px;
    font-family: Poppins;
    font-size: 15px;
    display: flex;
    text-align: center;
  }
  .toolsBox {
    background-color: rgb(215, 215, 215);
    width: 145px;
    height: 210px;
    border-radius: 12px;
  }
  
  .tools {
    height: 20px;
    font-family: Poppins;
    font-size: 15px;
    display: flex;
  }
  .foot {
    gap: 20px;
    display: flex;
  }
  .educationBox {
    background-color: rgb(215, 215, 215);
    width: 220px;
    height: 300px;
    padding: 12px;
    border-radius: 12px;
  }
  .interestsBox {
    background-color: rgb(215, 215, 215);
    width: 220px;
    height: 180px;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
  }
  .schoolBox {
    background-color: rgb(40, 217, 121);
    width: 195px;
    height: 100px;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
  }
  .contactBox {
    background-color: rgb(215, 215, 215);
    width: 220px;
    height: 120px;
    padding: 12px;
    border-radius: 12px;
  }
  .contactText {
    font-size: 14px;
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
  }
  .PDFbutton {
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    background-color: rgb(229, 81, 81);
    width: 220px;
    height: 60px;
    border-radius: 12px;
  }
  .PDFtext {
    font-size: 20px;
    font-family: Poppins;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  .saveButton{
      font-weight: bold;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
  }